@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Noto+Sans+JP:wght@400;700&display=swap");
body {
  color: #333333;
  line-height: 1.5;
  scroll-padding-top: 20px;
  font-family: "游ゴシック体", "Yu Gothic", yugothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #333333;
}
a:hover {
  opacity: 0.7;
}

.container {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
}

.btn {
  display: inline-block;
  background: #3F51B5;
  color: #FFFFFF;
  max-width: 100%;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.btn:hover {
  opacity: 0.9;
}

header {
  width: 100%;
  height: 100px;
  background: #3F51B5;
  opacity: 1;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1607843137);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  font-family: "Lato", sans-serif;
}
@media (max-width: 767px) {
  header {
    height: 60px;
  }
}

.header_nav-icon {
  display: inline-block;
  margin: 30px 0;
  width: 100%;
  height: 100%;
  max-width: 205px;
  max-height: 40px;
  min-width: 182px;
  min-height: 35px;
  object-fit: cover;
}
@media (max-width: 767px) {
  .header_nav-icon {
    margin: 12px 0 0 8px;
    width: 182px;
  }
}

.header_nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .header_nav {
    margin-left: 16px;
    margin-right: 16px;
  }
}
.header_nav ul {
  display: flex;
  align-items: center;
}
.header_nav .header_hover {
  color: #ffffff;
  width: 41px;
  height: 16px;
  margin-left: 40px;
  position: relative;
  padding: 8px 0;
}
.header_nav .header_hover:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .header_nav .header_hover {
    display: none;
  }
}
.header_nav .header_hover::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #E81919;
  transform: scale(0, 1);
  transition: transform 0.3s;
}
.header_nav .header_hover:hover::after {
  transform: scale(1, 1);
}
.header_nav .header_hover::after {
  transform-origin: center;
}

.header_active {
  color: #ffffff;
  width: 41px;
  height: 16px;
  padding: 8px 0;
  margin-left: 40px;
  position: relative;
}
.header_active:hover {
  opacity: 1;
}
.header_active::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #E81919;
  transition: transform 0.3s;
}
@media (max-width: 767px) {
  .header_active {
    display: none;
  }
}

.drawer_icon {
  position: fixed;
  top: 20px;
  right: 16px;
  z-index: 300;
  display: none;
  transition: transform 0.5s ease;
}
@media (max-width: 767px) {
  .drawer_icon {
    display: block;
  }
}
.drawer_icon.is_active {
  transform: translateX(-200px);
}
.drawer_icon.is_active .drawer_icon-bar1 {
  transform: rotate(-45deg);
  top: 8px;
}
.drawer_icon.is_active .drawer_icon-bar2 {
  display: none;
}
.drawer_icon.is_active .drawer_icon-bar3 {
  transform: rotate(45deg);
  top: 8px;
}

.drawer_icon-bars {
  width: 22px;
  height: 20px;
  display: block;
  position: relative;
}

.drawer_icon-bar1,
.drawer_icon-bar2,
.drawer_icon-bar3 {
  position: absolute;
  width: 22px;
  height: 4px;
  background-color: #fff;
  top: 0;
  left: 0;
}

.drawer_icon-bar1 {
  top: 0;
}

.drawer_icon-bar2 {
  top: 8px;
}

.drawer_icon-bar3 {
  top: 16px;
}

.drawer_content {
  width: 200px;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  background: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
  z-index: 299;
  transform: translateX(105%);
  transition: transform 0.5s ease;
}
.drawer_content.is_active {
  transform: translateX(0);
}

.drawer_content-item {
  border-bottom: 1px dotted #707070;
}
.drawer_content-item a {
  display: block;
  color: #707070;
  padding: 18px 20px;
  position: relative;
}
.drawer_content-item a::after {
  content: "";
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 11px;
  background: url(../img/arrow-b@2x.png) no-repeat center center/contain;
}

.drawer_background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 298;
  opacity: 0;
  transition: opacity 0.7s ease 0s;
  pointer-events: none;
}
.drawer_background.is_active {
  opacity: 1;
  pointer-events: auto;
}

main {
  text-align: center;
  justify-content: center;
  font-family: "Noto Sans JP", sans-serif;
}

.swiper {
  max-width: 1280px;
  width: 100%;
  position: relative;
}

.swiper-button-prev,
.swiper-button-next {
  width: 40px;
  height: 40px;
  transition: all 0.3s ease 0s;
  margin: -20px 0 0;
  z-index: 3;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  opacity: 0.6;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
}

.swiper-button-prev {
  background: transparent url(../img/arrow-prev@2x.png) no-repeat center center/contain;
  left: calc(50% - 600px);
}
@media (min-width: 768px) and (max-width: 1199px) {
  .swiper-button-prev {
    left: 24px;
  }
}
@media (max-width: 767px) {
  .swiper-button-prev {
    left: 4px;
  }
}

.swiper-button-next {
  background: transparent url(../img/arrow-next@2x.png) no-repeat center center/contain;
  right: calc(50% - 600px);
}
@media (min-width: 768px) and (max-width: 1199px) {
  .swiper-button-next {
    right: 24px;
  }
}
@media (max-width: 767px) {
  .swiper-button-next {
    right: 4px;
  }
}

.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 16px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 16px));
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 6px);
}

.main_img {
  display: inline-block;
  background-image: url(../img/mainvisual.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  height: 600px;
  margin: 100px auto 0;
  width: 100%;
  max-width: 1280px;
}
@media (max-width: 767px) {
  .main_img {
    margin-top: 60px;
    height: 400px;
  }
}

.main_img2 {
  background-color: #979ea3;
  color: #fff;
  background-image: none;
  padding: auto;
  position: relative;
}
.main_img2 span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}

.main_title {
  display: block;
  color: #333333;
  font-size: 64px;
  font-weight: 700;
  padding-top: 168px;
}
@media (max-width: 767px) {
  .main_title {
    font-size: 32px;
    padding-top: 120px;
  }
}

.main_subtitle {
  display: block;
  color: #333333;
  font-size: 24px;
  font-weight: bold;
  padding-top: 10px;
}
@media (max-width: 767px) {
  .main_subtitle {
    font-size: 18px;
  }
}

.btn_main {
  padding: 16px 0;
  width: 384px;
  height: 72px;
  margin: 33px auto;
  font-size: 24px;
}
@media (max-width: 767px) {
  .btn_main {
    width: 280px;
    font-size: 24px;
  }
}

.card {
  text-align: center;
  background-color: #EFEFEF;
  padding: 2em 0 7em;
}

.section_title {
  position: relative;
  margin: 50px auto 28px;
  font-size: 48px;
  font-weight: 600;
  z-index: 99;
  text-align: center;
  font-family: "Lato", sans-serif;
}
@media (max-width: 767px) {
  .section_title {
    font-size: 32px;
  }
}
.section_title::after {
  content: "";
  left: 50%;
  transform: translateX(-50%);
  bottom: -16px;
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 4px;
  -webkit-transform: translateX(-50%);
  background-color: #3F51B5;
}

.card_grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 70px;
  font-family: "Noto Sans JP", sans-serif;
}

.card_grid-item {
  background-color: #FFFFFF;
  padding: 16px;
  width: calc(33.3% - 16px);
  margin: 8px;
}
@media (max-width: 767px) {
  .card_grid-item {
    width: 90%;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .card_grid-item {
    width: calc(45% - 4px);
  }
}

.item_text {
  font-size: 16px;
  text-align: start;
  font-weight: 700;
  color: #6F7579;
}

.item_title {
  font-size: 20px;
  padding: 16px 0;
}

.news {
  padding: 2em 0 7em;
}

.news_content {
  max-width: 800px;
  margin: auto;
  padding: 12px 0;
  display: flex;
  font-size: 16px;
  align-items: flex-start;
  border-bottom: solid 1px #707070;
}
.news_content:first-of-type {
  margin-top: 5em;
}
@media (max-width: 767px) {
  .news_content {
    width: 90%;
    margin: auto;
    font-size: 12px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .news_content {
    width: 90%;
  }
}

.news_content-last {
  border-bottom: none;
}

.news_date {
  display: inline-block;
  min-width: 86px;
  margin: 16px 21px 0 0;
  font-family: "Lato", sans-serif;
}
@media (max-width: 767px) {
  .news_date {
    margin: 8px 4px 0 0;
  }
}

.news_label {
  display: inline-block;
  font-weight: bold;
  min-width: 80px;
  padding: 4px 8px;
  margin: 10px 18px 0 0;
  color: #FFFFFF;
  background-color: #666666;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .news_label {
    min-width: 60px;
    padding: 4px;
    margin-top: 8px;
  }
}

.news_label-2 {
  background-color: #3F51B5;
}

.news_label-3 {
  background-color: #E81919;
}

.news_text {
  max-width: 595px;
  margin-top: 10px;
}

.news_text-4 {
  align-self: flex-start;
}

.more {
  text-align: center;
  margin-top: 40px;
  font-family: "Lato", sans-serif;
}

.more_button {
  color: #E81919;
  font-weight: bold;
  position: relative;
  padding-right: 14px;
}
.more_button::after {
  content: "";
  position: absolute;
  transform: translateY(-40%);
  top: 50%;
  right: 0;
  width: 7px;
  height: 11px;
  background: url(../img/news-arrow@2x.png) no-repeat center center/contain;
}

.price {
  background-color: #EFEFEF;
  padding: 2em 0 1em;
}

.price_group {
  display: flex;
  justify-content: center;
  margin: 100px 0;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .price_group {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 767px) {
  .price_group {
    flex-direction: column;
    align-items: center;
  }
}

.price_img {
  width: 454px;
  height: 286px;
  background-size: cover;
  margin-right: 40px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .price_img {
    margin: 0 0 3em 0;
  }
}
@media (max-width: 767px) {
  .price_img {
    margin: 0 0 3em 0;
  }
}

.price_card {
  width: 700px;
}
@media (max-width: 767px) {
  .price_card {
    width: 95%;
    margin: 0 auto;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .price_card {
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .price_card {
    max-width: 100%;
  }
}

.card_table {
  width: 100%;
  background-color: #FFFFFF;
  font-family: "Lato", sans-serif;
}
.card_table th,
.card_table td {
  vertical-align: middle;
  border: solid 1px #707070;
  height: 57px;
  text-align: center;
  font-weight: bold;
}
.card_table th {
  background-color: #999999;
  color: #FFFFFF;
  width: 23%;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .card_table th {
    width: 2em;
  }
}
@media (max-width: 767px) {
  .card_table th {
    width: 2em;
  }
}
.card_table td {
  text-align: right;
  padding-right: 24px;
  width: 36%;
}
.card_table td.card_table-column {
  text-align: center;
  padding: 0 12px;
}

.card_table-column {
  background-color: #999999;
  color: #fff;
}

.table_strong {
  color: #E81919;
  font-weight: bold;
}

.table_note {
  display: block;
  font-size: 13px;
  font-weight: bold;
  font-family: "Noto Sans JP", sans-serif;
}

.table_more {
  font-size: 14px;
  margin-top: 8px;
  font-family: "Noto Sans JP", sans-serif;
}
.table_more a {
  font-weight: bold;
  text-decoration: underline;
}

.access {
  padding: 2em 0 1em;
  font-family: "Noto Sans JP", sans-serif;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .access {
    width: 95%;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .access {
    width: 95%;
    margin: 0 auto;
  }
}

.access_map {
  margin: 80px auto 0;
  position: relative;
  width: 100%;
  padding-top: 50%;
}
.access_map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.access_text-row {
  display: flex;
  align-items: center;
  margin-top: 16px;
}
.access_text-row dt {
  width: 104px;
  font-weight: 700;
}
.access_text-row dd {
  width: calc(100% - 104px);
}

.btn_access {
  display: block;
  padding: 15px 0;
  width: 304px;
  height: 56px;
  margin: 33px auto;
  font-size: 16px;
  text-align: center;
  position: relative;
}
.btn_access::after {
  content: "";
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 16px;
  width: 16px;
  height: 17px;
  background: url(../img/button-arrow@2x.png) no-repeat center center/contain;
}

.contact {
  background-color: #EFEFEF;
  padding: 2em 0 2em;
  font-family: "Noto Sans JP", sans-serif;
}

.contact_form {
  background-color: #FFFFFF;
  max-width: 800px;
  width: 95%;
  padding: 60px 0;
  margin: 80px auto 0;
}

.form_group:nth-of-type(-n+3) {
  margin-bottom: 60px;
}

.form_group-row {
  display: flex;
  max-width: 800px;
}
@media (max-width: 767px) {
  .form_group-row {
    display: block;
  }
}

.form_group-label {
  width: 128px;
  margin: 0 32px 0 60px;
}
@media (max-width: 767px) {
  .form_group-label {
    width: 100%;
  }
}

.form_group-input {
  width: calc(100% - 270px);
}
@media (max-width: 767px) {
  .form_group-input {
    width: 95%;
    margin: 10px auto 0;
  }
}
.form_group-input [type=text] {
  box-shadow: none;
  border: 1px solid #707070;
  background: #ffffff;
  padding: 10px 16px;
  appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
}
.form_group-input [type=email] {
  box-shadow: none;
  border: 1px solid #707070;
  background: #ffffff;
  padding: 10px 16px;
  appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
}
.form_group-input select {
  box-shadow: none;
  border: 1px solid #707070;
  background: #fff url(../img/select-arrow@2x.png) no-repeat right 12px center/17px 14px;
  padding: 10px 16px;
  appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
  cursor: pointer;
}
.form_group-input textarea {
  box-shadow: none;
  border: 1px solid #707070;
  background: #ffffff;
  padding: 10px 16px;
  appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
  height: 240px;
  resize: none;
}

label {
  font-weight: 700;
}
label.is-required {
  display: inline-block;
  position: relative;
}
label.is-required::after {
  content: "必須";
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  font-size: 14px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #E81919;
  text-align: center;
  border-radius: 4px;
  padding: 3px 8px;
  line-height: 1;
}
@media (max-width: 767px) {
  label.is-required::after {
    left: calc(100% + 8px);
    top: 2px;
    width: 28px;
  }
}

.form_radio {
  margin: 33px 0 67px 60px;
}
.form_radio span {
  display: inline-block;
  padding-left: 26px;
  position: relative;
  margin-right: 36px;
}
.form_radio span::before {
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid #707070;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  border-radius: 50%;
}
.form_radio span::after {
  content: "";
  width: 10px;
  height: 10px;
  background: #3F51B5;
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  display: none;
}
.form_radio [type=radio]:checked + span::after {
  display: block;
}
.form_radio [type=radio] {
  display: none;
}

.form_check {
  text-align: center;
}
.form_check a {
  text-decoration: underline;
  font-weight: 700;
}
.form_check [type=checkbox] {
  display: none;
}
.form_check span {
  display: inline-block;
  padding-left: 49px;
  position: relative;
}
.form_check span::before {
  content: "";
  width: 25px;
  height: 25px;
  background: #fff;
  border: 1px solid #707070;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.form_check span::after {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: transparent url(../img/checkbox@2x.png) no-repeat center center/contain;
  display: none;
}
.form_check [type=checkbox]:checked + span::after {
  display: block;
}

.form_button {
  text-align: center;
  margin-top: 35px;
  position: relative;
}
.form_button [type=submit] {
  background: #3F51B5 url(../img/button-arrow@2x.png) no-repeat right 12px center/17px 16px;
  display: inline-block;
  width: 304px;
  font-weight: 700;
  color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  appearance: none;
  font-family: inherit;
  border: none;
  font-size: 16px;
}

.privacy {
  width: 900px;
  height: 650px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  z-index: 300;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s ease 0s;
}
.privacy.is_active {
  opacity: 1;
  pointer-events: auto;
}
@media (max-width: 767px) {
  .privacy {
    width: calc(100% - 50px);
    max-width: 900px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .privacy {
    width: calc(100% - 50px);
    max-width: 900px;
  }
}

.privacy_btn-batsu {
  display: inline-block;
  position: absolute;
  top: -20px;
  right: -20px;
  width: 40px;
  height: 40px;
}
.privacy_btn-batsu:hover {
  opacity: 1;
  cursor: pointer;
}

.privacy_container {
  max-width: 760px;
  width: 100%;
}
@media (max-width: 767px) {
  .privacy_container {
    width: calc(100% - 50px);
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .privacy_container {
    width: calc(100% - 50px);
  }
}

.privacy_title {
  font-size: 24px;
}
.privacy_title::after {
  content: "";
  left: 50%;
  transform: translateX(-50%);
  bottom: -24px;
  position: absolute;
  display: inline-block;
  width: 100px;
  height: 2px;
  -webkit-transform: translateX(-50%);
  background-color: #3F51B5;
}

.privacy_contents {
  padding-left: 20px;
  max-height: 380px;
  height: 100%;
  overflow-y: scroll;
}

.privacy_content {
  margin: 40px 0;
  height: 10em;
}

.privacy_content-title {
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 16px;
  position: relative;
}
.privacy_content-title::before {
  content: "";
  width: 4px;
  height: 20px;
  background: #3F51B5;
  top: 4px;
  left: -20px;
  position: absolute;
}

.btn_privacy {
  padding: 16px 64px;
  margin: 60px auto;
  display: block;
  width: 176px;
  font-size: 16px;
  text-align: center;
}
.btn_privacy:hover {
  cursor: pointer;
}

.qa {
  background: #EFEFEF;
}

.qa_items {
  width: 100%;
  max-width: 900px;
  margin: 80px auto;
}
@media (max-width: 767px) {
  .qa_items {
    width: calc(100% - 50px);
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .qa_items {
    width: calc(100% - 50px);
  }
}

.qa_box {
  margin-bottom: 36px;
}

.qa_box-q {
  background: #3F51B5;
  color: #fff;
  padding: 12px 56px;
  font-weight: 700;
  position: relative;
}
.qa_box-q::before {
  content: "Q";
  position: absolute;
  top: 12px;
  left: 20px;
}

.qa_box-icon {
  width: 14px;
  height: 14px;
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
}
.qa_box-icon.is_open .qa_box-bar2 {
  transform: rotate(90deg);
}

.qa_box-bar1 {
  width: 14px;
  height: 2px;
  background: #fff;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.qa_box-bar2 {
  width: 2px;
  height: 14px;
  background: #fff;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  transition: all 0.3s ease 0s;
}

.qa_box-a {
  background: #fff;
  color: #3F51B5;
  padding: 16px 30px 16px 55px;
  border: solid 1px #3F51B5;
  font-weight: 700px;
  position: relative;
  display: none;
}
.qa_box-a::before {
  content: "A";
  position: absolute;
  top: 16px;
  left: 20px;
  font-weight: 700;
}

footer {
  color: #fff;
  background: linear-gradient(to bottom, #666666, #333333);
  padding-bottom: 24px;
}

.footer_nav {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .footer_nav {
    display: block;
  }
}

.footer_nav-row {
  margin: 30px 0 0 2em;
  flex: 1;
}
@media (max-width: 767px) {
  .footer_nav-row {
    margin: 20px auto;
    width: 100%;
    text-align: center;
  }
}

.footer_nav-text {
  font-size: 14px;
  font-family: "Noto Sans JP", sans-serif;
}
@media (max-width: 767px) {
  .footer_nav-text {
    margin-top: 10px;
  }
}
.footer_nav-text p:nth-child(2) {
  margin-top: 14px;
}

.footer_nav-menu {
  flex: 2;
  display: flex;
  margin-top: 60px;
  justify-content: center;
  text-align: center;
  font-family: "Lato", sans-serif;
}
@media (max-width: 767px) {
  .footer_nav-menu {
    width: 100%;
    margin: 30px auto 0;
  }
}
.footer_nav-menu a {
  color: #fff;
  margin: 0 20px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .footer_nav-menu a {
    margin: 0 16px;
  }
}
@media (max-width: 767px) {
  .footer_nav-menu a {
    margin: 0 5px;
  }
}

.footer_logos {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin: 60px 40px 0 auto;
}
@media (max-width: 767px) {
  .footer_logos {
    width: 100%;
    justify-content: center;
    margin: 20px auto 30px;
  }
}
.footer_logos a {
  width: 30px;
  height: 30px;
  margin-left: 16px;
}

.copyright {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
  font-family: "Lato", sans-serif;
}
@media (max-width: 767px) {
  .copyright {
    font-size: 8px;
  }
}

#t-scroll {
  position: fixed;
  bottom: 24px;
  right: 24px;
  width: 60px;
  height: 60px;
}

@media (min-width: 767px) {
  .drawer-hamburger {
    display: none;
  }
  .drawer--left .drawer-nav {
    left: 0;
  }
  .drawer-nav {
    position: relative;
  }
  .drawer-nav .drawer-menu li {
    display: inline-block;
  }
}